{{> header }}
<div class="container">
  <h1>About Page</h1>
  
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ullam a voluptatibus, consequuntur culpa consectetur ducimus! Delectus quidem dignissimos, libero earum aut beatae, quaerat atque, esse commodi, rem adipisci. Excepturi?</p>  
</div>
{{> footer }}